/********************************
/////////////////////////////////////////////////////////
//                                                     //
// 	Template Name: iSimple //
// 	Template Version: 3.0 //
//  Designer: Syed Faizan Ali //
//  Company:Templateism
//  All rights are Strictly Reserved  //
//                                                     //
/////////////////////////////////////////////////////////
********************************/

body#layout {
   
}

body#layout div#rsidebar-wrapper {
    width: 355px;
}


body#layout #main-wrapper {
    width: 750px;
    float: left;
    margin: 45px 0px 0px 26px;
}

body#layout #header {
    width: auto;
    width: 342px;
}

body#layout .sidebar{width:342px}

body#layout ul {
    list-style-type: none;
    list-style: none
}
body#layout ul li {
    list-style-type: none;
    list-style: none
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    position: relative;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #000;
    background: #222;
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.widget .widget-item-control a img {
    width: auto;
    height: auto;
}
a:link,
a:visited {
    color: #E9503E;
    text-decoration: underline;
    outline: none;
    transition: all .3s ease-out;
}
a:hover {
    color: #FE7C6D;
    text-decoration: none;
    outline: none;
    transition: all .3s ease-out;
}
a img {
    border-width: 0
}
#body-wrapper {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}
#container,
#header,
#main,
#main-fullwidth,
#footer,
.clearfix {
    display: block
}
.clear {
    clear: both
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 40px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 20px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    margin: 0
}
table {
    margin-bottom: 20px;
    width: 100%
}
th {
    font-weight: bold
}
thead th {
    background: #c3d9ff
}
th,
td,
caption {
    padding: 4px 10px 4px 5px
}
tr.even td {
    background: #e5ecf9
}
tfoot {
    font-style: italic
}
caption {
    background: #eee
}
li ul,
li ol {
    margin: 0
}
f ul,
ol {
    margin: 0 20px 20px 0;
    padding-left: 40px
}
ul {
    list-style-type: disc
}
ol {
    list-style-type: decimal
}
dl {
    margin: 0 0 20px 0
}
dl dt {
    font-weight: bold
}
dd {
    margin-left: 20px
}
blockquote {
    border: 1px solid #d2d2d2;
    font-style: italic;
    padding: 20px;
    margin: 20px;
    color: #666;
    background: #f9f9f9;
}
pre {
    margin: 20px 0;
    white-space: pre
}
pre,
code,
tt {
    font: 13px 'andale mono', 'lucida console', monospace;
    line-height: 18px
}
#search {
    overflow: hidden;
}
#crosscol-wrapper {
    display: none;
}
.PopularPosts .item-title {
    font-weight: bold;
    padding-bottom: 0.2em;
}
.PopularPosts .widget-content ul li {
    padding: 0.7em 0;
    background: none
}
.widget-container {
    list-style-type: none;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    color: #374142;
    font-size: 13px
}

/*=====================================
= Header
=====================================*/

.header .LinkList h2 {
    display: none;
}
.header .LinkList li {
    display: block;
    margin: 0;
    padding: 0;
}
.header .LinkList ul {
    margin: 0;
    padding: 0;
}
.header .LinkList {
    margin: 30px 0;
    padding: 30px;
    border-radius: 8px;
    background: #2e2e2e;
}
.header .LinkList a {
    color: #9c9c9c;
    text-decoration: none;
}
#header-inner {
    background-position: center;
    margin-left: auto;
    margin-right: auto
}
#header {
    margin: 0;
    float: left;
    overflow: hidden;
    width: 100%;
}
#header h1 {
    color: #374142;
    margin: 0 0px 0;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 41px;
    letter-spacing: -.5px;
    line-height: 32px;
}
#header .description {
    padding-left: 0px;
    color: #9c9c9c;
    line-height: 24px;
    font-size: 17px;
    margin: 20px 0px;
}
#header h1 a,
#header h1 a:visited {
    color: #fff;
    text-decoration: none
}
#margin-1200 {
    width: 1200px;
    margin: auto;
}
.blog-layout {
    float: left;
    width: 100%;
}
#main-wrapper {
    width: 72%;
    float: left;
    margin: 0px;
    word-wrap: break-word;
    overflow: hidden;
}
#rsidebar-wrapper {
    width: 27%;
    float: left;
    margin: 45px 0px 0px 0px;
    padding: 0px 25px 0px 0px;
    word-wrap: break-word;
    overflow: hidden;
}
#rsidebar-wrapper a:hover {
    color: #fff;
}
.menu-btn {
    color: #fff;
    cursor: pointer;
    float: right;
    right: 13px;
    position: relative;
    top: 0;
    margin-top: -37px;
}
.mobile-header {
    float: left;
    width: 100%;
    position: fixed;
    background: #111;
    z-index: 1;
    display: none;
}
.mobile-header div {
    display: inline-block;
}
.site-name {
    text-align: center;
    width: 100%;
    padding: 11px;
}
.site-name a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
    text-transform: uppercase;
}
.main-top {
    background: #404040;
    padding: 50px 170px;
    width: 100%;
    float: left;
}
.main-top h2 {
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px 0;
    display: none!important;
}
.main-top .profile-datablock {
    float: left;
    width: 76%;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}
.main-top .Profile a.profile-name-link {
    background-image: none!important;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.main-top .profile-textblock {
    margin: 3px 0px 10px 0px;
}
.main-top .Profile img {
    float: right;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    border: 4px solid #fff;
}
.main-top .Profile a.profile-link {
    color: #9c9c9c;
    text-decoration: none;
}
.main {
    float: left;
    width: 100%;
    background: #fff;
    padding: 50px;
}
h2.date-header {
    margin: 1.5em 0 .5em;
    display: none;
}
/*=====================================
= Sidebar
=====================================*/

.sidebar {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #374142;
    float: left;
    width: 100%;
}
.sidebar a:hover {} .sidebar .widget a {
    font-weight: 300;
    text-decoration: none;
    color: #9c9c9c;
    line-height: 24px;
    font-size: 17px;
}
.sidebar h2 {
    margin: 10px 0 10px 0;
    padding: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}
.sidebar ul {
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidebar ul li {
    padding: 0 0 9px 0;
    margin: 0 0 8px 0;
}
.sidebar .widget {
    margin: 0 0 40px 0;
    padding: 0;
    color: #9c9c9c;
    line-height: 24px;
    font-size: 17px;
}
.main .widget {
    margin: 0 0 5px;
    padding: 0 0 2px
}
.main .Blog {
    border-bottom-width: 0
}
#navbar-iframe {
    height: 0;
    visibility: hidden;
    display: none;
}
/*=====================================
= Posts
=====================================*/

.post-thumb {
    line-height: 0;
    position: relative;
    overflow: hidden;
    float: right;
    width: 100%;
    margin: 20px 0px;
}
.post-thumb a {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 355px;
}
.post-thumb img:hover {
    transform: scale(1.2);
}
.post-thumb img {
    transition: all .3s ease-out;
    width: 100%;
}
.post h2 {
    margin: 10px 0px 13px 0px;
}
.post h2 a {
    color: #111;
    text-decoration: none;
    line-height: 32px;
}
.post h2 a:hover {
    color: #404040;
}
.post-outer {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 40px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    font-weight: normal;
}
.postmeta-primary a {
    color: #a3a3a3;
    text-decoration: none;
}
.postmeta-primary {
    color: #a3a3a3;
}
.post-thumb img {
    width: 100%;
    height: auto;
}
.PopularPosts img {
    width: 120px;
}
.PopularPosts .item-snippet {
    height: 50px;
    overflow: hidden;
}
.sidebar .PopularPosts a {
    font-weight: 400;
    color: #fff;
}
.BlogSearch tbody {
    background: #404040;
}
input.gsc-input {
    background: none;
    border: 0;
    padding: 14px;
    color: #fff;
}
td.gsc-search-button {
    padding: 0;
}
table.gsc-search-box td.gsc-input {
    padding: 0;
}
input.gsc-search-button {
    font-family: 'FontAwesome', sans-serif!important;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 8px 21px 7px 20px;
    color: #c7c7c7;
    border: 0!important;
    background: none;
}
td.gsc-search-button {
    position: relative;
}
.Label a {
    font-weight: 300;
    font-size: 16px;
}
.sidebar .Label a {
    font-weight: 300;
    color: #9c9c9c;
    line-height: 24px;
    font-size: 17px;
}
.sidebar .Label li {
    margin: 0;
    padding: 0;
}
a.read-more {
    float: right;
    color: #a3a3a3;
    text-decoration: none;
    border: 1px solid #d2d2d2;
    padding: 9px;
    font-weight: normal;
    margin: 25px 0px 0px 0px;
}
a.read-more:hover {
    background: #222;
    color: #9c9c9c;
}
.feed-links {
    display: none;
}
#blog-pager {
    margin: 1em 0;
    text-align: center;
    overflow: hidden;
    float: left;
    width: 100%;
}
.post-home h1 {
    margin: 0px 0px 17px 0px;
    line-height: 46px;
}
.item .post-home .post-info {
    margin-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 35px;
}
.post-outer img {
    max-width: 100%;
    height: auto;
}
.separator a {
    margin: auto!important;
}
/*=====================================
= Related Posts
=====================================*/

#related-posts {
    float: left;
    width: 100%;
    margin-top: 30px;
}
#related-posts li {
    height: 450px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 31.55555%;
    float: left;
    border: 0;
    margin-right: 2%;
}
#related-posts li:last-child {
    margin: 0;
}
#related-posts a {
    padding: 0!important;
    border: 0;
    width: 100%;
    margin: 0!important;
    bordeR: 0!important;
}
#related-posts img {
    width: 100%;
    height: auto!important;
}
#related-posts a:last-child {
    margin: 0;
}
#related-posts h3 a {
    color: #fff;
}
#related-posts h3 {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #111;
    float: left;
    width: 100%;
    margin: 5px 0px;
    font-weight: 500;
}
#related-posts .overlay-bg {
    opacity: 0;
}
#related-posts li:hover .overlay-bg {
    opacity: 1;
}
#related-posts h2 {
    font-size: 24px;
    color: #1c2220;
    font-weight: bold;
    float: left;
    width: 100%;
    line-height: 32px;
}
.recent-details {} .related-meta span {
    margin-right: 4px;
}
.related-meta {
    color: #000 !important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}
.recent-content {
    float: left;
    color: #111;
    font-weight: 400;
    font-size: 15px;
}
/*=====================================
= Comments
=====================================*/

#comments {
    float: left;
    width: 100%;
}
.comment-hold {
    margin: 0px 0px 80px 0px;
}
#comments h3 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #111;
    margin: 10px 0px 30px 0px;
    text-align: left;
    text-transform: uppercase;
    line-height: 23px;
    float: left;
    width: 100%;
}
.comment-body-author {
    background: #FFFFFF;
    color: #008000;
    border: 1px dotted #008000;
    margin: 0;
    padding: 0 0 0 10px;
}
img.comment_emo {
    width: 20px;
    vertical-align: middle;
}
.comment_service a {
    text-decoration: none;
}
.comment_share {
    color: #999999;
    cursor: pointer;
    font-size: 10px;
    line-height: 1.5em;
    max-width: 100%;
    font-weight: normal;
    padding-left: 5px;
}
#comment_rep a:hover {
    text-decoration: none;
    color: #464646!important;
}
.comment_avatar {
    height: 48px;
    width: 48px;
    background: #F0F0F0 url(//2.bp.blogspot.com/-KjVxDap0Bzs/Uc7Jfm_9VWI/AAAAAAAAEqs/jD56hYNIm88/s48/anon48.gif) no-repeat center center;
    float: left;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 50px;
    overflow: hidden;
}
.comment_name {
    color: #444;
    font-size: 18px;
    font-weight: normal;
    line-height: 19.5px;
    max-width: 100%;
    text-decoration: none;
    margin-top: 5px;
    text-transform: uppercase
}
.comment-menu {
    float: right;
    list-style: none;
    width: 0px;
    height: 0;
}
.comment_name a {
    text-transform: capitalize;
    color: #111;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 23px;
    font-family: "Roboto", "Arial", sans-serif;
}
.comment_name a:hover {
    color: #0088b2;
    text-decoration: none;
}
.comment_body p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0px 10px 0;
}
.comment_body {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    padding: 20px 20px;
    position: relative;
}
.comment_date {
    color: #999;
    font-size: 13px;
    line-height: 25px;
    cursor: pointer;
    font-weight: normal;
}
#comments .separate {
    color: #cccccc;
    font-size: 15px;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 10px;
    t: 15px;
}
#comments .author-mark {
    background: #d2d2d2;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    font-size: 15px;
    line-height: 15px;
}
.comment-share {
    display: inline;
}
.comment-share li {
    display: inline;
}
.comment-share li.button a {
    background: #555;
    color: white;
    padding: 0 5px 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
}
.comment-share li.button:hover a {
    background: #000;
}
#comment_rep {
    margin-top: -27px;
    float: right;
}
.comment_child .comment_body {
    margin-top: 10px;
    margin-bottom: 30px;
}
.comment_child .comment_wrap {
    padding-left: 40px
}
a.comment_reply {
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5em;
    max-width: 100%;
    background: #e1e1e2;
    font-weight: 400;
    padding: 2px 10px;
    color: #767676;
    float: right;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    bottom: 0;
    text-decoration: none;
}
.comment_admin .avatar-image-container {} .unneeded-paging-control {
    display: none;
}
.comment-form {
    max-width: 100%;
    !important;
    margin-top: -15px !important
}
#comment-editor {
    width: 101%!important
}
.comment_reply_form .comment-form {
    width: 100%;
}
.comment_youtube {
    max-width: 100%!important;
    width: 400px;
    height: 225px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
#respond {
    overflow: hidden;
    padding-left: 10px;
    clear: both;
}
.comment_avatar * {
    max-width: 1000%!important;
    display: block;
    max-height: 1000%!important;
    width: 48px!important;
    height: 48px!important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 50px;
    margin-right: 10px;
}
.comment_child .comment_avatar,
.comment_child .comment_avatar * {
    width: 40px!important;
    height: 40px!important;
    float: left;
    margin-right: 10px;
}
.comment_form a {
    color: #2f6986;
    text-decoration: none;
}
.comment_form a:hover {
    color: #2f6986;
    text-decoration: underline;
}
.comment_author_flag {
    display: none
}
.comment_admin .comment_author_flag {
    display: inline;
    background: #c9c9c9;
    font-size: 13px;
    font-weight: normal;
    padding: 2px 6px;
    margin-left: 8px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1em
}
.comment-delete img {
    float: right;
    margin-left: 10px;
    position: absolute;
    margin-top: 7px;
}
#comment-editor {
    width: 100% !important;
    background: transparent url('data:image/gif;base64,R0lGODlhKwALAPAAAKrD2AAAACH5BAEKAAEAIf4VTWFkZSBieSBBamF4TG9hZC5pbmZvACH/C05FVFNDQVBFMi4wAwEAAAAsAAAAACsACwAAAjIMjhjLltnYg/PFChveVvPLheA2hlhZoWYnfd6avqcMZy1J14fKLvrEs/k+uCAgMkwVAAAh+QQBCgACACwAAAAAKwALAIFPg6+qw9gAAAAAAAACPRSOKMsSD2FjsZqEwax885hh3veMZJiYn8qhSkNKcBy4B2vNsa3pJA6yAWUUGm9Y8n2Oyk7T4posYlLHrwAAIfkEAQoAAgAsAAAAACsACwCBT4OvqsPYAAAAAAAAAj1UjijLAg9hY6maalvcb+IPBhO3eeF5jKTUoKi6AqYLwutMYzaJ58nO6flSmpisNcwwjEfK6fKZLGJSqK4AACH5BAEKAAIALAAAAAArAAsAgU+Dr6rD2AAAAAAAAAJAVI4oy5bZGJiUugcbfrH6uWVMqDSfRx5RGnQnxa6p+wKxNpu1nY/9suORZENd7eYrSnbIRVMQvGAizhAV+hIUAAA7') no-repeat 50% 30%
}
.comment-form {
    max-width: 100%;
    !important;
    margin-top: 25px !important
}
.comment_arrow {
    display: block;
    width: 18px;
    height: 9px;
    background: url(//4.bp.blogspot.com/-_VlXxLi-qDE/UjAI-0V0uhI/AAAAAAAAFXs/RN-kNnRHAqc/s1600/comment-arrow2.png) no-repeat;
    position: absolute;
    margin-top: -29px;
    margin-left: -5px;
}
.comment_emo_list .item {
    float: left;
    width: 40px;
    text-align: center;
    height: 40px;
    margin: 10px 10px 0 0;
}
.comment_emo_list span {
    display: block;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
.comment_youtube {
    max-width: 100%!important;
    width: 400px;
    height: 225px;
    display: block;
}
.comment_img {
    max-width: 100%!important
}
iframe {
    border: none;
    overflow: hidden
}
/*=====================================
= Don Share
=====================================*/

.item .don-share .don-share-total .don-count {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    color: #c1272d;
    border-right: 1px solid #d2d2d2;
    padding: 0px 25px;
    margin-right: 20px;
    margin-bottom: 0;
}
.item .don-share .don-share-total .don-count:after {
    line-height: 12px;
    color: #9c9c9c;
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    content: "Share";
}
.item .don-btn {
    width: 178px;
    background-image: none;
    box-shadow: none;
    margin: 11px 0px;
}
.item .don-share i {
    border: 0;
    text-align: center;
    width: auto;
    margin: -7px 0;
    font-size: 16px;
    margin-right: 8px;
}
.item .don-btn {
    width: auto;
}
.item .don-share .don-share-total:after {
    display: none;
}
.item .don-share .don-share-total {
    line-height: 45px;
    margin: 0;
}
.item .don-share [class*=' don-share-'],
.item .don-share [class^=don-share-] {
    margin: 0px 10px 0px 0;
}
.item .don-share {
    margin: 40px 0px 15px 0;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    padding: 15px 0px;
}
/*=====================================
= Status Msg
=====================================*/

.status-msg-body {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #868686;
    font-weight: 300;
    line-height: 17px;
    justify-content: center;
    /* align horizontal */
    
    align-items: center;
    /* align vertical */
}
.status-msg-wrap {
    width: 100%;
    text-align: left;
    margin-bottom: 46px;
    padding-bottom: 10px;
    height: 48px;
    vertical-align: middle;
}
.status-msg-border {
    border: none;
}
.status-msg-body a {
    display: none;
}
.status-msg-body {
    background: transparent;
    float: left;
    border-bottom: 1px solid #d2d2d2;
}
.status-msg-body b {
    color: #111111;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 10px;
    line-height: 30px;
}
.status-msg-bg {
    background: none;
    float: left;
    width: 100%;
    height: auto;
}
/*=====================================
= Page Navigation
=====================================*/

.showpageOf {
    float: left;
}
.showpageArea {
    font-size: 20px;
    font-weight: 300;
    float: right;
    width: 100%;
    text-align: right;
    padding: 20px 20px 20px 20px;
}
#blog-pager .showpageArea span a {
    font-size: 20px;
    font-weight: 300;
    color: #111;
    text-decoration: none;
}
.showpagePoint {
    font-weight: bold;
}
.showpageArea span {
    margin: 0 8px;
}
.static_page .post h1 a {
    color: #111;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: 60px 0px 0px 0px;
    line-height: 57px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    float: left;
    font-weight: 600;
}
.static_page .post h1 {
    margin: 0;
}

.copyrights {
    float: left;
    color: #111;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background: #fff;
    border-top: 1px solid #d2d2d2;
}

.copyrights a {
    color: #9c9c9c;
    text-decoration: none;
}
/*=====================================
= Error Page
=====================================*/

body.error_page {
    background-image: url("https://2.bp.blogspot.com/-RyDV8wyTbgc/V7rjCHPvSXI/AAAAAAAAA58/jvor3_qEFFc2Deru_Kr0YcjVb9ktfKRxwCLcB/s1600/overlay.png"), url("https://3.bp.blogspot.com/-8g6iGXcFMvA/V7rilV5mq3I/AAAAAAAAA54/Bcwo-ErX2rs4f37BVZFAxYGmNxO79pXTQCLcB/s1600/bg.png");
    background-color: #565656;
    background-size: cover !important;
}
.error_page .footer {
    display: none;
}
.error_page .site-wrapper {
    background: none;
}
#message {
    max-width: 491px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 200px;
}
#message p:first-child {
    font-size: 90px;
    font-weight: 700;
    line-height: 89px;
}
#message p {
    margin: 8px 0;
    font-size: 18px;
    color: #fff;
    float: left;
}
#message p a {
    color: #fff;
    text-decoration: none;
    background: rgba(17, 17, 17, 0.38);
    padding: 7px 18px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 20px;
}
#message p a:hover {
    background: #111;
}
.error_page #main {
    display: none;
}
.error_page #rsidebar-wrapper {
    background: #111;
    margin-top: 51px;
    padding-top: 45px;
    padding-left: 33px;
}
.error_page .sidebar {
    display: none;
}
.static_page .post h1 a {
    color: #111;
    text-decoration: none;
}
.static_page .post h1 {
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
    float: left;
    padding-bottom: 39px;
    margin: 0 0px 30px 0px;
}
@media screen and (max-width: 1215px) {
    #margin-1200 {
        width: 98%;
    }
}
@media screen and (max-width: 1020px) {
    #margin-1200 {
        width: 100%;
    }
    #main-wrapper {
        width: 100%;
    }
    #rsidebar-wrapper {
        position: fixed;
        background: #111;
        margin-top: 0;
        padding-top: 40px;
        padding-left: 28px;
        width: 296px;
        z-index: 10;
        overflow-y: auto;
        max-height: 100%
    }
    #rsidebar-wrapper img {
        max-width: 100%;
    }
    a.read-more {
        float: left;
    }
    .mobile-header {
        display: block;
    }
    #main-wrapper {
        margin-top: 52px;
    }
    .show {
        display: block!important;
    }
    #rsidebar-wrapper {
        display: none;
    }
}
/*=====================================
= Responsive
=====================================*/

@media screen and (max-width: 720px) {
    .main-top .profile-datablock {
        width: 75%;
    }
    .main-top {
        padding: 30px 30px;
    }
    .post-thumb a {
        height: auto;
    }
    .main {
        padding: 30px;
    }
}
@media screen and (max-width: 420px) {
    .main-top .profile-datablock {
        width: 60%;
    }
    body {
        font-size: 14px;
    }
    .post h2 a,
    .post-home h1 {
        font-size: 24px;
        line-height: 31px;
    }
    #related-posts li {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

